.container-fluid, .eventHomePage {
    background-color: #f8f9fa;
    height: 100vh;
}

.search-box, .eventHomePage .search-box {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
}

.event-card, .eventHomePage .event-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: column;
}

.event-card:hover, .eventHomePage .event-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.event-card img, .eventHomePage .event-card img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.event-card .card-body, .eventHomePage .event-card .card-body {
    padding: 15px;
    flex-grow: 1; /* This will push the footer to the bottom */
}

.event-card .card-footer {
    margin-top: auto; /* This will push the footer to the bottom */
}

.event-card .card-title {
    font-weight: 600;
    margin-bottom: 10px;
}

.event-card .card-text {
    font-size: 14px;
    color: #757575;
    margin-bottom: 10px;
}

.event-card .btn {
    background-color: #007bff;
    border: none;
    color: #fff;
}

.event-card .btn:hover {
    background-color: #0056b3;
}

.pagination {
    justify-content: center;
}

.eventHomePage .search-box {
    margin: 20px 0;
}
