.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #131313;
  color: #212529;
  text-align: center;
  padding: 10px 0;
}

.gitLink {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

.gitLink:hover {
  color: #0056b3;
  text-decoration: underline;
}

i.fab.fa-github {
  margin-right: 5px;
}
